<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Job Detail</div>
  <div class="card-body">
    <h5 class="card-title">{{ jcService.jobSelected.jobTitlePosition }}</h5>
    <p class="card-text">{{ jcService.jobSelected.jobDescription }}</p>
    <p class="dateCard">
      Publish date: {{ jcService.jobSelected.createdAt | date: 'dd/MM/yyyy HH:mm' }}<br>
      Expiration date {{ jcService.jobSelected.expiresAt | date: 'dd/MM/yyyy HH:mm' }}
    </p>
  </div>
</div>